# Основные библиотеки для научных вычислений
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.2
scipy==1.13.1

# Библиотеки для работы с медицинскими изображениями
pydicom==2.4.4          # Чтение DICOM файлов

# Библиотеки для глубокого обучения
# PyTorch установка отдельно: pip install torch torchvision --index-url https://download.pytorch.org/whl/cu129


# Утилиты
tqdm==4.66.4             # Прогресс-бары
pyyaml==6.0.2            # Парсинг YAML конфигураций
openpyxl==3.1.5          # Работа с Excel файлами
loguru==0.7.2            # Логирование

# Дополнительные библиотеки для визуализации
matplotlib==3.8.2        # Построение графиков
